<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="Contact page for web eng projec" content="demonstration of several pages and navigation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body id="idBody">
<header>
    <p> Web Engineering Einzelprojekt Katharina Bajic </p>
</header>

<div class="topnav" id="topnavid">
    <a href="index.html">Home</a>
    <a href="liste.html">Liste</a>
    <a href="kontakt.html" class="active">Kontakt</a>
</div>

<h1>
    <%= htmlWebpackPlugin.options.title %>
</h1>

</body>

</html>