<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="List page for web eng projec" content="demonstation of API usage and DOM manipulation">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body onload="window.requestData();">
        <header>
            <p>  Web Engineering Einzelprojekt Katharina Bajic </p>
        </header>

        <div class="topnav" id="topnavid">
            <a href="index.html">Home</a>
            <a href="liste.html" class="active">Liste</a>
            <a href="kontakt.html">Kontakt</a>
        </div>

        <h1>
            <%= htmlWebpackPlugin.options.title %>
        </h1>

        <div>
            <h1>Favorite Characters</h1>

            <table id="rem-table" class="table">
                <!-- Table gets appended with JS -->
            </table>
        </div>

        <div>
            <h1>Harry Potter Characters</h1>

            <table id="carac-table" class="table" style="float: left;">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Species</b></td>
                    <td><b>House</b></td>
                    <td><b>Birthday</b></td>
                    <td><b>Patronus</b></td>
                </tr>
            </table>
        </div>
    </body>

</html>