<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="Landing page for web eng project" content="demonstration of forms with input validation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body id="idBody">
  <header>
    <p>  Web Engineering Einzelprojekt Katharina Bajic </p>
  </header>

  <div class="topnav" id="topnavid">
    <a href="index.html" class="active">Home</a>
    <a href="liste.html">Liste</a>
    <a href="kontakt.html">Kontakt</a>
  </div>

  <h1>
    <%= htmlWebpackPlugin.options.title %>
  </h1>

  <div>
    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" placeholder="Vorname" required><br>

      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" placeholder="Nachname" required><br><br>

      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age" max="110" min="0" required><br><br>

      <label for="email">E-Mail:</label><br>
      <input type="email" id="email" name="email" placeholder="test@mail.com" required><br><br>

      <label for="pass">Password (8 characters minimum):</label><br><br>
      <input type="password" id="pass" name="password" minlength="8" required><br><br>

      <input type="submit" value="Prüfen">
    </form>
  </div>
</body>

</html>