<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body id="idBody">
<header>
    <p> Herzlich Willkommen! </p>
</header>
<h1>
    <%= htmlWebpackPlugin.options.title %>
</h1>

<div class="topnav" id="topnavid">
    <a href="index.html">Home</a>
    <a href="liste.html">Liste</a>
    <a href="kontakt.html" class="active">Kontakt</a>
</div>

<footer>
    <a href="kontakt.html">Kontakt</a>
    <p>© 2021 by Katharina Bajic</p>
</footer>
</body>

</html>