<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body onload="window.requestData();">
        <header>
            <p> Herzlich Willkommen! </p>
        </header>

        <h1>
            <%= htmlWebpackPlugin.options.title %>
        </h1>

        <div class="topnav" id="topnavid">
            <a href="index.html">Home</a>
            <a href="liste.html" class="active">Liste</a>
            <a href="kontakt.html">Kontakt</a>
        </div>

        <div class="container">
            <div class="floatLeft">
                <h1>Harry Potter Characters</h1>

                <table id="carac-table" class="table" style="float: left;">
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Species</b></td>
                        <td><b>House</b></td>
                        <td><b>Birthday</b></td>
                        <td><b>Patronus</b></td>
                    </tr>
                </table>
            </div>


            <div class="floatRight">
                <h1>Favorite Characters</h1>

                <table id="rem-table" class="table">
                    <!-- Table gets appended with JS -->
                </table>
            </div>
        </div>
    </body>

</html>